body {
  background-color: black;
}

h1.meme {
    text-transform: uppercase;
    font-size:2rem;
}

div.meme {
  color: #e06b80;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  border: 5px solid #e06b80;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

p.meme {
  color: #ffc69d;
  font-size: 1.25em;
  font-style: italic;
}

img.meme {
  width: 100%;
  border: 5px solid #e06b80;
}

